<div class="sidebar-nav">
    <div class="well" style="padding: 8px 0;">
        <ul class="nav nav-list">
            <li class="nav-header">Users</li>
            <li><a href="@Url.Action("Users", "Main")"><i class="icon-user"></i>Users</a></li>
            <li><a href="@Url.Action("Roles", "Main")"><i class="icon-lock"></i>Roles</a></li>
        </ul>
    </div>

    <div class="well" style="padding: 8px 0;">
        <ul class="nav nav-list">
            <li class="nav-header">Blog</li>
            <li><a href="~/Blog/Home/Create"><i class="icon-edit"></i>New Post</a></li>
        </ul>
    </div>
</div>
